<div class="panel padding-50" ng-if="!isAuthenticated()">
	<h1>Inspire. Be inspired.</h1>
	<h5>Write ideas to inspire people. Write stories inspired by others.</h5>
	<a class="btn btn-primary" href="/#/login"><i class="ion-unlocked"></i> Log in</a>
	<a class="btn btn-success" href="/#/signup"><i class="ion-person-add"></i> Sign up</a>
</div>
<div class="panel" ng-if="isAuthenticated()">
	<div class="panel-body">
		<h2 class="text-center">Add a prompt</h2>
		<form method="post" ng-submit="submitPrompt()" name="promptForm">
			<div class="form-group has-feedback">
				<input class="form-control input-lg" type="text" name="prompt" ng-model="model.prompt" placeholder="Imagine if..." required autofocus>
				<span class="ion-edit form-control-feedback"></span>
			</div>
			<button type="submit" ng-disabled="promptForm.$invalid" class="btn btn-lg btn-block btn-success">Add prompt</button>
		</form>
	</div>
</div>
<div class="panel" ng-repeat="prompt in model.prompts">
	<div class="panel-body">
		<div class="media">
			<div class="media-left media-middle">			
				<button type="button" class="ion-arrow-up-a btn btn-success" data-toggle="tooltip" data-placement="top" title="I like this prompt!"></button>		
				<button ype="button" class="ion-arrow-down-a btn btn-danger" data-toggle="tooltip" data-placement="top" title="That's not very inspiring"></button>	
			</div>
			<div class="media-body">
				<h4>{{prompt.prompt}} - <small><span class="badge">{{prompt.votes}}</span> points</small></h4>
				<p class="text-muted">written by {{prompt.user.displayName}} on {{prompt.created | date : 'longDate' }}</p>				
			</div>
		</div>
	</div>
</div>