<div class="panel panel-default">
  <div class="panel-body">
    <h2><i class="ion-gear-b"></i> Edit My Profile</h2>
    <form method="post" ng-submit="updateProfile()">
      <div class="form-group">
        <label class="control-label"><i class="ion-person"></i> Display Name</label>
        <input type="text" class="form-control" ng-model="profile.displayName" placeholder="{{user.displayName}}"/>
      </div>
      <div class="form-group">
        <label class="control-label"><i class="ion-at"></i> Email Address</label>
        <input type="email" class="form-control" ng-model="profile.email" placeholder="{{user.email}}"/>
      </div>
      <button class="btn btn-lg btn-success">Update Information</button>
    </form>
  </div>
</div>
<pre>{{user | json}}</pre>
<div class="panel panel-default">
  <div class="panel-body">
<h3><i class="ion-paintbrush"></i> Created by you:</h3>
    <div class="col-md-6"> <h3>Prompts: </h3>
      <ul>
        <li ng-repeat="prompt in user.prompts"><a href="/prompts/{{prompt.slug}}">{{prompt.prompt}}</a><small><em> ({{prompt.created | date: 'longDate'}})</em></small></li>
      </ul>
    </div>
    <div class="col-md-6"> <h3>Stories: </h3>
      <ul>
        <li ng-repeat="story in user.stories"><a href="/prompts/{{story.prompt.slug}}">{{story.story}}</a><small><em> ({{story.created | date: 'longDate'}})</em></small></li>
      </ul>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
<h3><i class="ion-android-favorite"></i> Liked by you:</h3>
    <div class="col-md-6"> <h3>Prompts: </h3>
      <ul>
        <li ng-repeat="prompt in user.prompts"><a href="/prompts/{{prompt.slug}}">{{prompt.prompt}}</a><small><em> ({{prompt.created | date: 'longDate'}})</em></small></li>
      </ul>
    </div>
    <div class="col-md-6"> <h3>Stories: </h3>
      <ul>
        <li ng-repeat="story in user.stories"><a href="/prompts/{{story.prompt.slug}}">{{story.story}}</a><small><em> ({{story.created | date: 'longDate'}})</em></small></li>
      </ul>
    </div>
  </div>
</div>