<div class="panel">
	<div class="panel-body">
		<div class="media">
			<div ng-if="isAuthenticated()" class="media-left media-middle">
				<button ng-class="{ 'btn-success' : isFan(prompt) }" ng-click="upvotePrompt(prompt._id, $index)" type="button" class="ion-arrow-up-a btn btn-default" title="I like this prompt!"></button>
				<button ng-class="{ 'btn-danger' : isEnemy(prompt) }" ng-click="downvotePrompt(prompt._id, $index)" type="button" class="ion-arrow-down-a btn btn-default" title="That's not very inspiring"></button>
			</div>
			<div class="media-body">
				<h3 id="prompt-content">{{prompt.prompt}} - <small><span class="badge">{{ prompt.fans.length - prompt.enemies.length }}</span> points</small></h3>
				<p class="text-muted">written by {{prompt.user.displayName}} on {{prompt.created | date : 'longDate' }}</p>
			</div>
		</div>
	</div>
</div>
<div class="panel" ng-if="isAuthenticated()">
	<div class="panel-body" bs-collapse ng-model="model.activePanel">
		<h2>Like the idea?
		<button class="btn btn-primary btn-lg" type="button" bs-collapse-toggle>
		Write a story!
		</button>
		</h2>
		<div class="panel-collapse" bs-collapse-target>
			<form method="post" name="storyForm" class="padding-20">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<p><i class="ion-information-circled"></i><small> Protip: You can use <a target="_blank" href="http://daringfireball.net/projects/markdown/syntax">markdown syntax.</a></small></p>
							<textarea name="story" class="form-control" cols="30" rows="10" ng-model="model.story" placeholder="Type your history here." required></textarea>
						</div>
					</div>
					<div class="col-md-6">
						<p><i class="ion-search"></i><small> Live preview: </small></p>
						<div btf-markdown="model.story"></div>
					</div>
				</div>
				<button ng-click="submitStory()" ng-disabled="storyForm.$invalid" class="btn btn-lg btn-info">Add a story</button>
			</form>
		</div>
	</div>
</div>
<div class="panel">
	<div class="panel-body">
		<label>Sort stories: </label>
		<div class="btn-group" ng-model="orderby" bs-radio-group>
			<label class="btn btn-default"><input class="btn btn-default" value="-score" type="radio"> Best</label>
			<label class="btn btn-default"><input class="btn btn-default" value="-created" type="radio"> Newest</label>
			<label class="btn btn-default"><input class="btn btn-default" value="created" type="radio"> Oldest</label>
		</div>
	</div>
</div>
<div ng-class="{ ownStory: user._id == story.user._id }" class="panel animated fadeInUp" ng-repeat="story in prompt.stories | orderBy:orderby" bs-collapse>
	<div class="panel-body" id="{{story._id}}">
		<h4><span class="badge">{{story.fans.length - story.enemies.length}} points</span> Author: <span ng-class="{ 'iAmAuthor' : user._id == story.user._id }">{{story.user.displayName}}</span> on {{story.created | date: 'longDate'}}</h4>
		<span>
		<button class="btn btn-info" bs-collapse-toggle style="cursor: pointer"><i class="ion-eye-disabled"></i></button>
		</span>
		<span>
		<button ng-if="!(user._id == story.user._id)" ng-class="{ 'btn-success' : isStoryFan(story) }" class="btn btn-default" style="cursor: pointer" ng-click="upvoteStory(story)"><i class="ion-arrow-up-a"></i></button>
		</span>
		<span>
		<button ng-if="!(user._id == story.user._id)" ng-class="{ 'btn-danger' : isStoryEnemy(story) }" class="btn btn-default" style="cursor: pointer" ng-click="downvoteStory(story)"><i class="ion-arrow-down-a"></i></button>
		</span>
		<button ng-if="user._id == story.user._id" class="btn btn-warning"><i class="ion-trash-b"></i></button>
		<button ng-if="user._id == story.user._id" class="btn btn-primary"><i class="ion-edit"></i></button>
		
	</div>
	<div class="panel-collapse" bs-collapse-target>
		<div class="panel-body">
			<div class="markdown" btf-markdown="story.story"></div>
		</div>
	</div>
</div>