<div class="panel">
	<div class="panel-heading"><h2>You are browsing {{user.displayName}}'s submission history.</h2></div>
	<div class="panel-body">
		<div class="col-md-6"> <h3>Prompts: </h3>
			<ul>
				<li ng-repeat="prompt in user.prompts"><a ng-href="/prompts/{{prompt.slug}}">{{prompt.prompt | limitTo: 25}}</a><small><em> ({{prompt.created | date: 'longDate'}})</em></small></li>
				<p ng-if="!user.prompts.length"><em><small>Seems like this user hasn't written a single prompt.</small></em></p>
			</ul>
		</div>
		<div class="col-md-6"> <h3>Stories: </h3>
			<ul>
				<li ng-repeat="story in user.stories"><a ng-href="/prompts/{{story.prompt.slug + '?scrollTo=' + story._id}}">{{story.story | limitTo: 25}}</a><small><em> ({{story.created | date: 'longDate'}})</em></small></li>
				<p ng-if="!user.stories.length"><em><small>Seems like this user hasn't written a single story.</small></em></p>
			</ul>
		</div>
	</div>
</div>